<form action="/packs" method="post">
  <label for="itemName">Add a new item</label>
  <input id="itemName" name="itemName" type="text">

  <label for="price">Add a price</label>
  <input id="price" name="price" type="text">
  
  <label for="weight">Add the weight</label>
  <input id="weight" name="weight" type="text">
  <button type="submit">Submit</button>
</form>