<h1>Packer tracker details: </h1>

<h3>Name :@Model.ItemName</h3>
<h3>Price : $ @Model.Price</h3>
<h3>Weight :@Model.Weight lbs.</h3>

<a href='/packs/new'>Add another item</a>
<a href='/packs'>View all items</a>